*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
}

form {
    max-width: 100%; 
    padding: 10px; 
}

input, select, textarea {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
}

.autocomplete-container {
    position: relative;
}

.course-row :hover {
    cursor: pointer;
}


/* Hiding containers using a smooth slide */
@keyframes hide {
    0% {
        opacity: 1;
        max-height: 1000px;

    }

    25% {
        opacity: 0;
        max-height: 1000px;

    }

    100% {
        opacity: 0;
        max-height: 0;
    }
}

.titles-container {
    animation-name: hide;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    overflow: hidden;
}

