*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
}

form {
    max-width: 100%; 
    padding: 10px; 
}

input, select, textarea {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
}

.autocomplete-container {
    position: relative;
}


.course-row :hover {
    cursor: pointer;
}

.login-card {
    width: 30rem;
}

.card-clickable {
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.card-clickable:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


@keyframes fade-out {
    0% {
        opacity: 1;
        max-height: 1000px;

    }

    50% {
        opacity: 0;
        max-height: 1000px;

    }

    100% {
        opacity: 0;
        max-height: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        max-height: 0;
    }

    25% {
        opacity: 0;
        max-height: 1000px;

    }

    100% {
        opacity: 1;
        max-height: 1000px;
    }
}


