{% extends 'lookup/layout.html' %}

{% block title %}

{% endblock %}

{% block body %}
  <div class="container">
      <h2>{{ course.name}}</h2>
      <p>{{ course.description }}</p>
      <p>{{ course.id }}</p>


  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Enroll
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Do you want to enroll?</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h2>A confirmation will be sent to {{user.email}}</h2>
            <form action="/enroll/{{course.id}}" method="POST">
              {% csrf_token %}
              <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="submit">
              </div>
            </form>

          </div>

        </div>
      </div>
    </div>
  </div>

{% endblock %}