{% extends 'lookup/layout.html' %}

{% block title %}
Lookup
{% endblock %}

{% block body %}
<div class="container">
    
    <div class="title-container">
        <h2>Looking for your next class?</h2>
    </div>

    <div>
        <h2>Classes next to you</h2>
        <div class="nearby-schools-container"></div>
    </div>

    <div class="categories-container container d-flex flex-column justify-content-center align-items-center">
        <div><a href="" class="category">Dance</a></div>
        <div><a href="" class="category">Drama</a></div>
        <div><a href="" class="category">Music</a></div>
    </div>

    <div class="results-container">
        
    </div>

    <div class="submit-course-container">
        <h2>Do you provide courses?</h2>
        <a href="/contact">Submit a course</a>
    </div>

</div>
{% endblock %}