{% extends 'lookup/layout.html' %}

{% block title %}
Lookup
{% endblock %}

{% block body %}
<div class="container">
    
    <div class="title-container">
        <h2>Looking for your next class?</h2>
    </div>

    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div><a href="">Dance</a></div>
        <div><a href="">Drama</a></div>
        <div><a href="">Fine Arts</a></div>
    </div>

    <div class="title-container">
        <h2>Do you provide courses?</h2>
        <a href="/contact">Submit a course</a>
    </div>

</div>
{% endblock %}