{% extends 'lookup/layout.html' %}

{% block title %}
Lookup
{% endblock %}

{% block body %}
<div class="container">
    
    <div class="title-container">
        <h2>Looking for your next class?</h2>
    </div>

    <h2>For those who already know what they are looking for</h2>
    <div class="browse-container">
        <div class="row">
            <div class="row">
                <div class="col-2">
                    <select class="form-select" id="discipline-select" aria-label="discipline">
                        <option value="" selected>Discipline</option>
                        <option class="category" value="dance" >Dance</option>
                        <option class="category" value="drama">Drama</option>
                        <option class="category" value="music">Music</option>
                    </select>
                </div>
                <div class="col-2">
                    <!-- ATTENTION -->
                     <!-- La majuscule à la valeur va être un problème en cas d'ajout de nouvelles données à la base de donnée -->
                      <!-- Vérifier que les valeurs correspondent à ce qu'on retrouve dans les modèles -->
                    <select class="form-select" id="age-group-select" aria-label="age_group">
                        <option value="" selected>Age group</option>
                        <option value="Children">Children</option>
                        <option value="Adolescents">Adolescents</option>
                        <option value="Adults">Adults</option>
                        <option value="Elderly">Elderly</option>
                        <option value="Anyone">Anyone</option>

                    </select>
                </div>
                <div class="col-2">
                    <select class="form-select" id="radius-select" aria-label="radius">
                        <option value="" selected>Radius(km)</option>
                        <option value="10">&gt;10km</option>
                        <option value="50">&gt;50km</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h2>Classes next to you</h2>
        <div class="nearby-schools-container"></div>
    </div>

    <div class="categories-container container d-flex flex-column justify-content-center align-items-center">
    </div>

    <div class="results-container">
    </div>

    <div class="submit-course-container">
        <h2>Do you provide courses?</h2>
        <a href="/contact">Submit a course</a>
    </div>

</div>
{% endblock %}