{% extends 'lookup/layout.html' %}

{% block title %}
MyCourses
{% endblock %}

{% block body %}
    <div>
        <div class="row">
            <div class="col-6 p-3">
                <h2>My Courses</h2>
            </div>
            <div class="col-6 text-end p-3">
                <button><a href="/contact">+ Add Course</a></button>
            </div>
        </div>

        <div class="row">
            <div class="col-12  courses-total"></div>
        </div>

        <div class="results-container px-4">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Participants</th>
                    <th scope="col">School</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody class="table-body">
    
                </tbody>
            </table>
        <div hidden class='user-id'>{{ user.id }}</div>
    </div>
   
{% endblock %}