{% extends 'lookup/layout.html' %}

{% block title %}
Participants
{% endblock %}

{% block body %}
    <h2>Participants</h2>

<div class="row justify-content-end">

    <div class="col-2"><button id="download-button" class="btn btn-primary btn-sm">Print all participants</button></div>

</div>

    <div id="downloadable-body" class="row justify-content-center m-2">

        <div class="col-12">
            <table class="table table-bordered  table-sm">
                <thead>
                    <tr class="">
                    <th>
                        First name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Email Address
                    </th>
                </tr>
                </thead>
                {% for student in course.students.all %}
                    <tr>
                    <tbody class="table-group-divider">
                        <td>
                            <p>{{student.first_name}}</p><br>
                        </td>
                        <td>
                            <p>{{student.last_name}}</p><br>
                        </td>
                         <td>
                             <p>{{student.email}}</p><br>
                         </td>
                    </tbody>
                </tr>
            {% endfor %}
            </table>
        </div>

    </div>

{% endblock %}